body {
    text-align: center;
    background-color: rgb(245, 138, 245);
}

#ohjeet {
    white-space: pre;
}

button {
    background-color: aqua;
    border: 1px,  black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
 
button:hover {
    background-color: rgb(20, 155, 155);
}